<!DOCTYPE html>

<html lang="es"  xmlns="http://www.thymeleaf.org">

    <head>
        <title>RestoApp</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    </head>

    <body>
        <!--BARRA DE NAVEGACION-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">RestoApp</a>
                <button class="navbar-toggler navbar-toggler-rigth" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">  <!--id="navbarNavDropdown"-->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-link">
                            <a class="nav-link js-scroll-trigger" th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre}"></a>
                        </li>
                        <li class="nav-link" th:if="${session.usuariosession != null}">
                            <a class="nav-link js-scroll-trigger" sec:authorize="hasAnyRole('ROLE_SELLER','ROLE_USER','ROLE_ADMIN')" th:href="@{/usuario/editarPerfil/}+${session.usuariosession.id}">Opciones Usuario</a>
                        </li>
                        <li class="nav-link">
                            <a class="nav-link js-scroll-trigger" sec:authorize="hasAnyRole('ROLE_USER')" th:href="@{/reserva/listarReservas/}">Mis reservas</a>
                        </li>
                        <!-- <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_SELLER','ROLE_USER','ROLE_ADMIN')">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                            Opciones
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" th:href="@{/usuario/editarPerfil/}+${session.usuariosession.id}">Opciones Usuario</a>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li> -->
                        <li class="nav-link">
                            <form class="d-flex" sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')" action="/buscador/resultadoBusquedaResto" method="POST">
                                <!-- <form class="form-inline my-2 my-lg-0" sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')" action="/buscador/resultadoBusquedaResto" method="POST">  -->
                                   <!-- <input class="form-control mr-sm-2" type="search" aria-label="Search" name="busquedaResto" placeholder="Buscá tu plato . ." pattern="[A-Za-z0-9]{4,20}">  -->
                                   <input class="form-control me-2" type="search" name="busquedaResto" placeholder="Buscar plato" aria-label="Search" pattern="[A-Za-z0-9]{4,20}">      
                                   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ver</button>
                           </form> 
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-link">
                            <a class="nav-link js-scroll-trigger" sec:authorize="isAuthenticated()" href="/logout">Cerrar Sesión</a>
                        </li>
                        <li class="nav-item"> <!-- <li class="nav-link"></li> -->
                            <a class="nav-link js-scroll-trigger" sec:authorize="!isAuthenticated()" href="/registro">Registrate</a>
                        </li>
                        <li cclass="nav-link">
                            <a class="nav-link js-scroll-trigger" sec:authorize="!isAuthenticated()" href="/login">Iniciar Sesión</a>
                        </li>
                    </ul>                  
                </div>
            </div>  
        </nav>

        <header>   
            <p  th:if= "${logout != null}" th:text = "${logout}" style="color:green"></p>
            <p class="error" th:if="${error != null}" th:text=${error} style="color: red"></p>
            <p class="exito" th:if="${exito != null}" th:text=${exito} style="color: green"></p>
            <!-- <div class="fs-2 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                </svg>
                /*<p class='usuario'>@Usuario</p> */
                <p class='usuario' th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre}"></p>
                /*<p class='usuario' th:if="${session.usuariosession != null}" th:text="${session.usuariosession.id}"></p>*/
            </div>    -->
        </header>
        <br><br>

        <section>
            <div th:if="${session.usuariosession != null}">
                <!-- <a class="btn btn-primary btn-xl" sec:authorize="hasAnyRole('ROLE_SELLER','ROLE_USER','ROLE_ADMIN')" th:href="@{/usuario/editarPerfil/}+${session.usuariosession.id}">Opciones Usuario</a>
                <a class="btn btn-primary btn-xl" sec:authorize="hasAnyRole('ROLE_USER')"  th:href="@{/reserva/listarReservas/}">Mis reservas</a> -->
                <a class="btn btn-primary btn-xl" sec:authorize="hasAnyRole('ROLE_SELLER')" href="/resto/modificarResto">Personaliza tu Resto</a>
                <a class="btn btn-primary btn-xl" sec:authorize="hasAnyRole('ROLE_SELLER')" href="/plato/crearPlato">Crear Plato</a>
                <a class="btn btn-primary btn-xl" sec:authorize="hasAnyRole('ROLE_SELLER')" th:href="@{/plato/listarPlatoResto/}+${session.usuariosession.id}">Listar Platos</a> 
                
                <a class="btn btn-primary btn-xl" sec:authorize="hasAnyRole('ROLE_SELLER')" href="/mesa/crearMesa">Crear Mesa</a>
                <a class="btn btn-primary btn-xl" sec:authorize="hasAnyRole('ROLE_SELLER')" th:href="@{/mesa/listarMesaResto/}+${session.usuariosession.id}">Listar Mesas</a>
                <a class="btn btn-primary btn-xl" sec:authorize="hasAnyRole('ROLE_ADMIN')" href="/zona/crearZona">Crear Zona</a> 
                <a class="btn btn-primary btn-xl" sec:authorize="hasAnyRole('ROLE_ADMIN')" href="/zona/listarZonas">Listar Zonas Cargadas</a>
                <a class="btn btn-primary btn-xl" sec:authorize="hasAnyRole('ROLE_SELLER')" href="/reserva/verReservasResto">Ver Reservas</a>
                <!-- <a class="btn btn-primary btn-xl" sec:authorize="hasAnyRole('ROLE_USER','ROLE_SELLER','ROLE_ADMIN')"  th:href="@{/buscador/buscadorResto/}">Buscador</a> -->
                <br>
                <br>
                <!-- <form action="/buscador/resultadoBusquedaResto" method="POST">
                <form  sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')" action="/buscador/resultadoBusquedaResto" method="POST">
                    <input type="search" name="busquedaResto" placeholder="Buscá tu plato . ." pattern="[A-Za-z0-9]{4,20}">
                    <input type="submit" value="Ver">         
                </form> -->
                
            </div>
        </section>

        <section>
            <div> <!-- class="row row-cols-1 row-cols-md-3 g-4"       th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')"-->
                <div th:each="resto :${restos}" class="container"  >
                    <!-- cartas de los diferentes restaruantes-->
                    <div class="flex-item">
                        <div class="card border-dark" style="width: 12rem;">
                            <!-- <img src="iconoresto.jpeg" class="card-img-top" alt="Aca iba una imagen muy copada"> -->
                            <img th:if="${resto.foto != null}" th:src="${'/foto/restoFoto/' + resto.id}" class="img-thumbnail" alt="...">
                            <img th:if="${resto.foto == null}" src="../static/blue.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title" th:text="${resto.nombre}"></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Abierto: <span th:text="${resto.abierto}"></span></li>
                                <!-- <li class="list-group-item">Mesas Disponibles: <span th:text="${Restaurante.mesas}"></span></li> -->
                                <li class="list-group-item">Ubicacion: <span th:if="${resto.zona != null}" th:text="${resto.zona.nombre}"></span></li>
                            </ul>
                            <div th:if="${session.usuariosession != null}" class="card-body">
                                <!-- <a class="btn btn-success" th:href="@{/Reserva/crearReserva/} + ${Restaurante.id}">Reservar <i class="fa fa-edit"></i></a> -->
                                <a class="btn btn-success" sec:authorize="hasRole('ROLE_USER')" th:href="${'/resto/menu/'+resto.id+'/'+0}">Ver Menu <i class="fa fa-edit"></i></a>
                            </div>                                                                 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>