<!DOCTYPE html>
<html lang="en"  xmlns="http://www.thymeleaf.org">
    <head>
        <title>Mesas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <div class="conteiner">
            <main>
                <div class="px-3 py-3">
                    <h1>Lista de mesas</h1>               
                    <p class="error" th:if= "${error != null}" th:text = ${error} style="color: red"></p>
                    <p class="exito" th:if= "${exito != null}" th:text = ${exito} style="color: green"></p>
                    <table class="table table-light table-hover">
                        <thead>
                            <tr class="bg-blue">
                                <th>Denominacón</th>
                                <th>Capacidad</th>
                                <th>Disponibilidad</th>
                                <th>Alta</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="mesa : ${mesas}">
                                <td th:text="${mesa.denominacion}"></td>
                                <td th:text="${mesa.capacidad}"></td>
                                <td th:text="${mesa.disponible}"></td>
                                <td>
                                    <!-- <a th:href="@{/mesa/modMesa/}+${mesa.id}" class="btn btn-success btn-xl">Editar</a> -->
                                    <a th:href="@{/mesa/baja/}+${mesa.id}" class="btn btn-danger btn-xl">Baja</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="/" class="btn btn-primary btn-xl">Volver</a>
                    <a class="btn btn-primary btn-xl" sec:authorize="hasAnyRole('ROLE_SELLER')" href="/mesa/listarMesasInactivas">Listar Mesas Inactivas</a>
                </div>
            </main>
        </div>
    </body>
</html>